.icon {
    margin-bottom: 20px;
    width: 70%;
    max-width: 100px;
}

@media (max-width: 666px) {
    .icon {
        max-width: 60px;
    }
}

@media (max-width: 510px) {
    .icon {
        max-width: 80px;
    }
}

@media (max-width: 400px) {
    .icon {
        max-width: 50px;
    }
}