.projects__subtitle {
    text-align: center;
    font-size: 29px;
    line-height: 2;
    margin-top: 0;
    color: white;
    margin: auto;
    max-width: 800px;
    width: 65%;
}

@media (max-width: 666px) {
    .projects__subtitle {
        font-size: 23px;
    }
}

@media (max-width: 510px) {
    .projects__subtitle {
        font-size: 20px;
        width: 80%;
    }
}

@media (max-width: 400px) {
    .projects__subtitle {
        font-size: 17px;
        width: 95%;
    }
}

@media (max-width: 320px) {
    .projects__subtitle {
        width: 90%;
        font-size: 14px;
    }
}