@media (max-width: 510px) {      
    .logo_place_header {
          display: block;
          float: left;
          font-size: 2em;
          padding: 10px 20px;
          text-decoration: none;
      }
}